{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  <div class="pt-3">
    <table class="table" style="width:95%">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><h1 class="display-4"><center>Tap #</center></h1></th>
          <th scope="col"><h1 class="display-4"><center>Beer</center></h1></th>
          <th scope="col"><h1 class="display-4"><center>ABV</center></h1></th>
          <th scope="col"><h1 class="display-4"><center>IBUs</center></h1></th>
          <th scope="col"><h1 class="display-4"><center>SRM</center></h1></th>
        </tr>
      </thead>
      {{ range .Pages.ByWeight }}
          <tbody>
            <tr>
              {{ if .Params.kegged }}
                <td class="px-3 pb-3">
                  {{ if .Params.label }}
                    <center><img height="125" src="{{ .Params.label | relURL }}" /></center>
                  {{ end }}
                </td>
                <td class="px-3 pb-3">{{ .Params.weight }}</td>
                <td class="px-3 pb-3"><h2>{{ .Title }}</h2></br><small>{{ .Params.summary }}</small></td>
                <td class="px-3 pb-3"><center>
                  {{ if .Params.OG }}
                    {{ mul (sub .Params.OG .Params.FG) 131.25 | lang.FormatNumber 1 }}
                  {{ end }} %
                </center>
                </td>
                <td class="px-3 pb-3"><center>{{ .Params.IBUS }}</center></td>
                <td class="px-3 pb-3 {{ .Params.SRM }}"></td>
              {{ end }}
            </tr>
          </tbody>
      {{ end }}
    </table>
  </div>
{{ end }}

{{ define "footer_js" }}
{{ end }}
